h3 {
    text-align: center;
    font-size: medium;
    border-bottom: 1px groove;
    font-weight: 600;
}

.container-fluid {
    padding: 50px;
    border-radius: 10px;
    border-bottom: 1px;
    border-style: groove;
}

.modal {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    width: 100%;
    height: 100%;
}

#x-cancel {
    cursor: pointer;
}

.form-group {
    padding: 10px 0;
}

.modal-footer {
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
}

#before-modal-body {
    width: 100%;
    height: 100%;
    padding: 10px;
}

#cancel {
    float: left;
}

#confirm {
    float: right;
}

#btn-link {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

.btn-cancel,
.btn-confirm {
    padding-bottom: 15px;
}

.btn-cancel {
    float: left;
}

.btn-confirm {
    float: right;
}