@page "/home"

<AuthorizeView>
    <Authorized>
        <h3>
            Hi @(context.User.Identity.Name)!
        </h3>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

<h3>Home</h3>

@code {

}
