@page "/not-authorized"

<PageTitle>Non autorizzato</PageTitle>

<div class="container">
    <span>Non sei autorizzato a visualizzare questo contenuto.</span>
    <NavLink href="/">
        Vai alla homepage.
    </NavLink>
</div>
