@typeparam TItem where TItem: class, new()

@if (Data is null)
{
    <p>loading...</p>
} 
else {
    <table class="table table-striped w-50">
        <thead>
            <tr>
                @foreach (var prop in Properties)
                {
                    <th>@prop</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Data)
            {
                <tr>
                    @foreach (var prop in Properties)
                    {
                        <td>@item.GetType().GetProperty(prop).GetValue(item)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter] public IEnumerable<string> Properties { get; set; }
    [Parameter] public IEnumerable<TItem> Data { get; set; }
}
