.modal {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    width: 100%;
    height: 100%;
}

#x-cancel,
li {
    cursor: pointer;
}

#before-modal-body {
    width: 100%;
    height: 100%;
    padding: 10px;
}

#workorder-list {
    height: fit-content;
    overflow-y: scroll;
    scrollbar-width: 0.5rem;
    border: 1px thin rgb(22, 22, 22);
}

#employees-list {
    height: min-content;
    overflow-y: scroll;
}

.container {
    float: right;
}

.modal-footer {
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
}

.btn-link {
    text-decoration: none;
}

#cancel {
    float: left;
}

#confirm {
    float: right;
}