.modal {
    display: block; 
    background-color: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(15px);
}

#x-circle {
    cursor: pointer;
}

.modal-footer {
    justify-content: space-between;
}

#cancel {
    float: left;
}

.card {
    padding: 10 15px;
    overflow-y: scroll;
}

#btn-link {
    text-decoration: none; 
    color: blue; 
    cursor: pointer;
}

#delete {
    float: right;
}

#close-wrapper:hover {
    cursor: pointer;
}

#btn-link {
    text-decoration: none;
}