@page "/project-manager"
@layout MainLayout

<div class="filter-box">
    <OptionsFilter
        Actions=@_filters/>
</div>

@if (_filteredList.Any()) {
    <div class="search-box">
        <SearchBox
            GetSearchedItems=@HandleSearchedElements/>
    </div>
}

@*
<GridDataReport WorkOrdersCosts=@_filteredList/>
*@

<GridDataWorkOrders 
    WorkOrders=@_completedWorkOrders />

@if (_filteredList.Any()) {
    <Paginator
        CollectionSize=@_collectionSize
        Paginate="(args) => HandlePaginate(args.Item1, args.Item2)"
        />
} 