@using System.Linq.Expressions

<div class="validation-message">
    @if (AssociatedErrors.Any()) {
        @foreach(var err in AssociatedErrors) {
            @if (err.Key == FieldName) {
                @foreach(var message in err.Value) {
                    <div class="invalid-Feedback">
                        @message
                    </div>
                }
            }
        }
    }
</div>

@code {
    [CascadingParameter(Name = "Errors")] Dictionary<string, List<string>> AssociatedErrors { get; set; }
    [CascadingParameter] EditContext CurrentEditContext { get; set; }
    [Parameter] public string FieldName { get; set; }

    protected override void OnInitialized() {
        AssociatedErrors = new();
            
        CurrentEditContext
            .SetFieldCssClassProvider(new FieldCssClassProvider());

        CurrentEditContext.OnFieldChanged += (s, e) => 
            CurrentEditContext.NotifyValidationStateChanged();
    }
}

