<div class="modal" tabindex="-1" role="dialog" hidden="@_isCancelClicked">
    <div class="@Size" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @Header
                <h5 class="modal-title">@Title</h5>
                <i id="cancel" class="bi bi-x-circle" @onclick=@CloseModal></i>
            </div>
            <div class="content">
                @Body
                <div class="modal-footer">
                    @Footer
                </div>
            </div>
        </div>
    </div>
</div>