@namespace PlannerCRM.Client.Components.AuthorizationStates
@layout NotAuthorizedLayout

<div class="text-center">
    <PageTitle>Errore 401</PageTitle>
    <LayoutView Layout="@typeof(NotAuthorizedLayout)">
        <h5>Alt! Non sei autorizzato ad accedere a questa pagina.</h5>
        <p role="alert">Accesso restrizionato. <strong>Errore 401.</strong></p> <br>
        <p>Torna alla <a href="/login">homepage.</a></p>
    </LayoutView> 
</div>