.calendar-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vw;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(3, 155, 229);
    color: white;
    font-size: 18px;
}

.navigation-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.today-button {
    background-color: white;
    color: #4285f4;
}

.calendar-main {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.calendar-day-name {
    text-align: center;
    font-weight: bold;
    color: #888;
}

.calendar-day {
    text-align: center;
    padding: 30px;
    max-width: 200px;
    background-color: white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

    .calendar-day:hover {
        background-color: #f4f4f4;
        color: #4285f4;
    }

.today {
    background-color: #4285f4;
    color: white;
    font-weight: bold;
}