@typeparam TItem where TItem : class, new()

<Modal Size="@ModalSize.LARGE" Title="Edit the selected item" FirstAction="(async () => await OnValidSubmit())" FirstActionText="Submit">
    <Body>
        <EditForm EditContext="_context" FormName="Form Component" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
                @FormContent(Model)
        </EditForm>
    </Body>
</Modal>

@code 
{
    [Parameter] public TItem Model { get; set; }
    [Parameter] public RenderFragment<TItem> FormContent { get; set; }
    [Parameter] public EventCallback<TItem> OnUpdatedItem { get; set; }

    private EditContext _context;

    protected override void OnInitialized()
    {
        _context = new(Model);
    }

    private async Task OnValidSubmit()
    {
        if (_context.Validate())
        {
            await OnUpdatedItem.InvokeAsync(Model);
        }
    }
}