.profile-menu {
    width: 300px;
}

.clickable { 
    width: 200px;
}

.clickable:hover {
    cursor: pointer;
}

.list-group {
    z-index: 10;
    position: absolute;
}

.list-group-item {
    width:280px;
}

img {
    width: 25px;
    height: 25px;
    pointer-events: none;
}

.hover-effect:hover {
    background-color: grey;
}

.hover-effect:hover, .logout:hover {
    cursor: pointer;
}

.logout {
    color: red;
}