<div class="profile-menu text-center" @onclick=@SwitchMenu>
    <span class="clickable">
        <span>Ciao, @_currentUser.FullName!</span>
        <img src="images/person.png" class="rounded-circle" />
    </span>
    @if (_isMenuSwitched)
    {
        <ul class="list-group" @onmouseleave=@SwitchMenu>
            <li class="list-group-item hover-effect" @onclick=@NavigateToProfileSettings>Account</li>
            <li class="list-group-item hover-effect">Assistenza</li>
            <li class="list-group-item logout" @onclick=@OnClickLogout>Disconettiti</li>
        </ul>
    }
</div>