<footer class="text-white py-3 mt-auto" style="background-color: lightseagreen; position: fixed; bottom: 0; width: 100%;">
    <div class="container text-center">
        PlannerCRM ©️ <strong>Tutti i diritti riservati.</strong>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="text-white text-decoration-none" href="/terms-and-conditions">Termini e Condizioni</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="text-white text-decoration-none" href="/privacy-policy">Privacy Policy</a>
    </div>
</footer>
