<RadzenFooter Style="background-color:lightseagreen;">
    <div>
        PlannerCRM ©️ <strong>Tutti i diritti riservati.</strong>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <NavLink href="/terms-and-conditions">Termini e Condizioni.</NavLink>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <NavLink href="/privacy-policy">Privacy Policy.</NavLink>
    </div>
</RadzenFooter>