@inherits LayoutComponentBase

<div class="page">
    <main>
        <Navbar />
        <div class="content-container">
            <aside class="mr-5" >
                <Sidebar />
            </aside>
            <div class="main-content px-4">
                @Body
            </div>
        </div>
        <Footer />
    </main>
</div>