@inherits LayoutComponentBase

@inject NavigationManager nav

<RadzenComponents @rendermode="RenderMode.InteractiveWebAssembly" />
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<AuthorizeView>
    <NotAuthorized>
        <RadzenLayout>
            <RadzenHeader>
                <RadzenStack Orientation="Orientation.Horizontal"
                AlignItems="AlignItems.Center"
                JustifyContent="JustifyContent.SpaceBetween"
                Style="width: 100%; background-color: lightseagreen;">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                        <RadzenLink class="text-decoration-none" Match="NavLinkMatch.All" Path="/home" Text="PlannerCRM"/>
                    </RadzenStack>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="16px">
                        <RadzenButton Text="Login"
                        Icon="person"
                        ButtonStyle="ButtonStyle.Info"
                        Variant="Variant.Text"
                        Click="@(() => nav.NavigateTo("/login"))">
                        </RadzenButton>
                    </RadzenStack>
                </RadzenStack>
            </RadzenHeader>
        </RadzenLayout>
    </NotAuthorized>
    <Authorized>
        <RadzenLayout>
            <RadzenHeader>
                <RadzenStack Orientation="Orientation.Horizontal" 
                AlignItems="AlignItems.Center" 
                JustifyContent="JustifyContent.SpaceBetween"
                Style="width: 100%; background-color: lightseagreen;">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                        <RadzenSidebarToggle Click="ToggleSidebar" />
                        <RadzenLink class="text-decoration-none" Match="NavLinkMatch.All" Path="/home" Text="PlannerCRM" />
                    </RadzenStack>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="16px">
                        <RadzenText>Hello @context.User.Identity.Name!</RadzenText>
                        <RadzenIcon Icon="notifications" />
                        <RadzenIcon Icon="person" />
                    </RadzenStack>
                </RadzenStack>
            </RadzenHeader>

            <RadzenSidebar @bind-Expanded="sidebarExpanded" Style="height: 100vh;">
                <RadzenPanelMenu>
                    <RadzenPanelMenuItem Text="Home" Icon="house" Path="/home" />
                    <RadzenPanelMenuItem Text="Recently" Icon="schedule" Path="/recently" />
                    <RadzenPanelMenuItem Text="Work Orders" Icon="work" Path="/workOrders" />
                    <RadzenPanelMenuItem Text="Activities" Icon="check_circle" Path="/activities" />
                    <RadzenPanelMenuItem Text="Clients" Icon="groups" Path="/clients" />
                    <RadzenPanelMenuItem Text="Statistics" Icon="bar_chart" Path="/statistics" />
                    <RadzenPanelMenuItem Text="Calendar" Icon="calendar_today" Path="/calendar" />
                    <RadzenPanelMenuItem Text="Invoices" Icon="description" Path="/invoices" />
                    <RadzenPanelMenuItem Text="Settings" Icon="settings" Path="/settings" />
                </RadzenPanelMenu>
            </RadzenSidebar>
            <RadzenBody>
                @Body
            </RadzenBody>
            <RadzenFooter Style="background-color: lightseagreen; position: fixed; bottom: 0; width: 100%; height: auto;" class="text-white py-3 mt-auto">
                <div class="container text-center">
                    PlannerCRM 2025 ©️ <strong>All rights reserved.</strong>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <RadzenLink class="text-white text-decoration-none" Path="/terms-and-conditions" Text="Terms and Conditions" />
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <RadzenLink class="text-white text-decoration-none" Path="/privacy-policy" Text="Privacy Policy" />
                </div>
            </RadzenFooter>
        </RadzenLayout>
    </Authorized>
</AuthorizeView>

@code {
    private bool sidebarExpanded = true;

    private void ToggleSidebar()
    {
        sidebarExpanded = !sidebarExpanded;
    }
}