@inherits LayoutComponentBase

<div class="page">
    <main>
        <Navbar />
        <div class="content-container">
            <Sidebar />
            <div class="main-content mx-5">
                @Body
            </div>
        </div>
        <Footer />
    </main>
</div>