@inherits LayoutComponentBase
<RadzenComponents @rendermode="RenderMode.InteractiveWebAssembly"/>

<div class="page">
    <main>
        <header>
            <Navbar/>
        </header>
        <article>
            <Sidebar/>
        </article>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
