@inherits LayoutComponentBase
<RadzenComponents @rendermode="RenderMode.InteractiveWebAssembly"/>

<div class="page">
    <main>
        <header>
            <nav>
                <Navbar/>
            </nav>
        </header>
        <body class="content px-4">
            @Body   
        </body>
        <article >
            <Sidebar/>
        </article>
        <footer>
            <Footer/>
        </footer>
    </main>
</div>
