<RadzenMenu Style="background-color:lightseagreen;">
    <RadzenMenuItem Path="/home" Text="PlannerCRM - Gestionale Commesse"/>
    <div style="margin-left: auto; display: flex;">
        <RadzenMenuItem Icon="notifications" />
        <RadzenMenuItem Icon="person" Path="/profile" />
    </div>
</RadzenMenu>