<h3>NavMenu</h3>
<RadzenStack AlignItems="AlignItems.Start" Orientation="Orientation.Vertical">
    <RadzenPanelMenu DisplayStyle="MenuItemDisplayStyle.IconAndText">
        <RadzenPanelMenuItem Icon="home" Text="Home"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem Icon="schedule" Text="Recently"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem Icon="task" Text="Tasks"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem Icon="contacts" Text="Contacts"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem Icon="monitoring" Text="Statistics"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem Icon="event" Text="Calendar"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem Icon="picture_as_pdf" Text="Invoices"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem Icon="settings" Text="Settings"></RadzenPanelMenuItem>
    </RadzenPanelMenu>
</RadzenStack>