<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        <Homepage/>
    </Found>
    <NotFound>
        <div>
            <h4>
                Page not found.
            </h4>
        </div>
    </NotFound>
</Router>
<RadzenTheme Theme="material" @rendermode="RenderMode.InteractiveWebAssembly"/>
<script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>