<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        <Home/>
    </Found>
    <NotFound>
        <div>
            <h4>
                Page not found.
            </h4>
        </div>
    </NotFound>
</Router>