<div class="form-group">
    <label>@nameof(DataContainer.DataManager.SelectedItem.Name):</label>
    <InputText class="form-control" @bind-Value="@DataContainer.DataManager.SelectedItem.Name" />
</div>
<div class="form-group">
    <label>@nameof(DataContainer.DataManager.SelectedItem.VatNumber):</label>
    <InputText class="form-control" @bind-Value="@DataContainer.DataManager.SelectedItem.VatNumber" />
</div>

@code {
    [Parameter] public CascadingDataContainer<FirmClientDto> DataContainer { get; set; }
}
