@if (_workOrders is not null)
{
    <div style="overflow-y: scroll;">
        <strong>WorkOrders (@(_workOrders.Count))</strong>
        @foreach (var wo in _workOrders)
        {
            <p style="text-indent: 40px;"><strong>Name: </strong>@wo.Name</p>
        }
    </div>
}

@code {
    [CascadingParameter] public CascadingDataContainer<FirmClientDto> DataContainer { get; set; }
    [Inject] public IFetchService<WorkOrderDto> WorkOrderFetchService { get; set; }

    private List<WorkOrderDto> _workOrders = [];

    protected override async Task OnParametersSetAsync()
        => _workOrders = await WorkOrderFetchService.GetAll(ControllersNames.WORK_ORDER,
            WorkOrderApiManager.FindAssociatedWorkOrdersByClientId(DataContainer.DataManager.SelectedItem.Id));
}
