@page "/"
@page "/login"

@using PlannerCRM.Shared.Models
@using PlannerCRM.Shared.DTOs.EmployeeDto.Forms
@using PlannerCRM.Shared.DTOs.EmployeeDto.Views

@inject NavigationManager navManager
@inject HttpClient httpClient
@inject CustomAuthState authStateProvider

<PageTitle>Login</PageTitle>

<h3>Entra nel tuo account gestionale.</h3>

<div class="container">
    @if (IsError) {
        <span>@Message</span>
    } 
    <h4>Login</h4>
    <EditForm Model="@model" OnValidSubmit="LoginOnValidInput">
        <DataAnnotationsValidator/>
        
        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="email" class="form-control" @bind="model.Email" required/>
            <ValidationMessage For="@(() => model.Email)"/>
        </div>
        <div class="form-group">
            <label for="Password">Password:</label>
            <input type="password" class="form-control" @bind="model.Password" required/>
            <ValidationMessage For="@(() => model.Password)"/>
        </div>
        <div class="wrapper">
            <button type="submit" class="btn btn-primary">Accedi</button>
        </div>
    </EditForm>
</div>

@code {
    private EmployeeLoginDTO model = new();   
    private string Message { get; set; }
    private bool IsError { get; set; }
    private CurrentEmployee currentEmployee { get; set; }
    private const string SPECIAL_EMAIL = "account.manager@gmail.com";

    public async Task LoginOnValidInput() {
        var response = await httpClient.PostAsJsonAsync<EmployeeLoginDTO>("http://localhost:5032/account/login", model);
        
        if (model.Email != SPECIAL_EMAIL) {
            currentEmployee = await httpClient.GetFromJsonAsync<CurrentEmployee>($"http://localhost:5032/employee/get/id/{model.Email}");
            if (currentEmployee == null) { 
                IsError = true; Message="ERR: ID non trovato"; 
            }
        }
        
        if (response.IsSuccessStatusCode) {
            var rolesList = await httpClient.GetFromJsonAsync<List<string>>("http://localhost:5032/account/user/role");

            foreach (var role in rolesList) {
                if (role == nameof(Roles.ACCOUNT_MANAGER)) {
                    navManager.NavigateTo("/account-manager", true);
                } else if (role == nameof(Roles.OPERATION_MANAGER)) {
                    navManager.NavigateTo("/operation-manager", true);
                } else if (role == nameof(Roles.PROJECT_MANAGER)) {
                    navManager.NavigateTo("/project-manager", true);
                } else if (role == nameof(Roles.SENIOR_DEVELOPER)) {
                    navManager.NavigateTo($"/senior-developer/{currentEmployee.Id}", true);
                } else if (role == nameof(Roles.JUNIOR_DEVELOPER)) {
                    navManager.NavigateTo($"/junior-developer/{currentEmployee.Id}", true);
                }
            }
        } else {
            IsError = true;
            Message = "Email o password non corrette. Riprovare.";
        }
    }
}

