<div class="text-center">
    <i id="previous" class="bi bi-arrow-left-square-fill" title="Indietro"
        @onclick=@Previous></i>
    <span id="page-number">@_pageNumber</span>
    <i id="next" class="bi bi-arrow-right-square-fill" title="Avanti"
        @onclick=@Next></i>
</div>