@page "/clients"

<h3>Clients</h3>
<PageTitle>Clients</PageTitle>

<RadzenDataGrid Data="@_clients" TItem="@FirmClientDto" AllowSorting="true" AllowPaging="true" AllowFiltering="true">
    <Columns>
        <RadzenDataGridColumn TItem="@FirmClientDto" Property="Name" Title="Name" />
        <RadzenDataGridColumn TItem="@FirmClientDto" Property="VatNumber" Title="Vat Number" />
    </Columns>
</RadzenDataGrid>

@code {
    [Inject] public FetchService<FirmClientDto> ClientFetchService { get; set; }

    private List<FirmClientDto> _clients = new();
    private PaginationHelper paginationHelper = new() { Limit = 100, Offset = 0 };

    protected override async Task OnInitializedAsync()
    {
        _clients = await ClientFetchService.GetAll(
            ControllersNames.FIRM_CLIENT, 
            CrudApiManager.GET_WITH_PAGINATION, 
            paginationHelper.Limit, 
            paginationHelper.Offset
        );
    }
}