@page "/home"

@layout MainLayout

@inject AuthService auth

<h3>Home</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await auth.GetAuthenticationStateAsync();
    }
}
