@page "/workOrders"

<h3>Workorders</h3>
<PageTitle>Workorders</PageTitle>


@code {
    [Inject] public FetchService<WorkOrderDto> WorkOrderFetchService { get; set; }

    private CascadingDataContainer<WorkOrderDto> _dataContainer = new()
        {
            DataManager = new()
            {
                SelectedProperties = ["Name", "StartDate", "EndDate"]
            }
        };


    protected override async Task OnInitializedAsync()
        => await LoadData(new PaginationHelper { Limit = 100, Offset = 0 });

    private void GetCascadingContainerStates(CascadingDataContainer<WorkOrderDto> dataContainer)
        => _dataContainer = dataContainer;

    private async Task DeleteWorkOrder(WorkOrderDto workOrder)
        => await WorkOrderFetchService.Delete(ControllersNames.WORK_ORDER, CrudApiManager.DELETE, workOrder.Id);

    private async Task DeleteMultipleClients(IEnumerable<WorkOrderDto> workOrders)
    {
        foreach (var workOrder in workOrders)
        {
            await DeleteWorkOrder(workOrder);
        }
    }

    private async Task LoadData(PaginationHelper paginationHelper)
        => _dataContainer.DataManager.MainItems =
            await WorkOrderFetchService.GetAll(ControllersNames.WORK_ORDER, CrudApiManager.GET_WITH_PAGINATION, paginationHelper.Limit, paginationHelper.Offset);
}
