@page "/operation-manager"
@layout MainLayout
 
<PageTitle>CRM - Operation Manager</PageTitle>

<div class="parent">
    <div class="child">
        <button class="btn btn-primary" title="Aggiungi cliente" @onclick="OnClickAddClient">
            <i class="bi bi-person-add"></i>
            Aggiungi cliente
        </button>
    </div>
    @if (_clients.Any()) {
        <div class="child">
            <button class="btn btn-primary" title="Aggiungi commessa" @onclick="OnClickAddWorkOrder">
                <i class="bi bi-plus-circle-fill"></i>
                Aggiungi commessa
            </button>
        </div>
        
        @if (_filteredList.Any()) {
            <div class="child">
                <button class="btn btn-primary" title="Aggiungi attività" @onclick="OnClickAddActivity">
                    <i class="bi bi-plus-circle-fill"></i>
                    Aggiungi attività
                </button>
            </div>
        }
        <div class="child">
            <button class="btn btn-primary" title="Visualizza clienti" @onclick=@OnClickShowClients>
                <i class="bi bi-card-list"></i>
                Visualizza clienti
            </button>
        </div>
        @if (_isShowClientsClicked) { 
            <ClientsList Title=@Titles.SHOW_ALL_CLIENTS/>
        }
    }
</div>  

<div class="filter-box">
    <OptionsFilter
        Actions=@_actions/>
</div>
    
<div class="search-box">
    <SearchBox
        GetSearchedItems="@HandleSearchedElements"/>
</div>

<GridDataWorkOrders
    WorkOrders=@_filteredList
    Clients=@_clients/>

@if (!_filteredList.Any()) {
    <p class="text-center">@Titles.NO_MORE_RESOURCES</p>
}

@if (_isCreateClientClicked) {
    <ModalAddClient
        Title=@Titles.ADD_CLIENT
    />
}

@if (_isCreateWorkOrderClicked) { 
    <ModalAddWorkOrder Title=@Titles.ADD_WORKORDER/>
}

@if (_isCreateActivityClicked) { 
    <ModalAddActivity Title=@Titles.ADD_ACTIVITY/>
}

<Paginator
    CollectionSize="@_collectionSize"
    Paginate="@((args) => HandlePaginate(args.Item1, args.Item2))"/>
