@page "/account-manager/delete/user/{Id}"

@using PlannerCRM.Shared.DTOs.EmployeeDto.Views
@using PlannerCRM.Shared.Models

@inject NavigationManager navManager
@inject HttpClient httpClient
@attribute [Authorize(Roles = nameof(Roles.ACCOUNT_MANAGER))]

<PageTitle>Account Manager - Elimina utente</PageTitle>

<div>
    <span>Vuoi eliminare:
        <br>  
        <strong>Nome:</strong> @model.FullName 
        <br>
        <strong>Ruolo:</strong> @model.Role ?
        <br>
    </span>
    <button type="button" class="btn btn-danger" @onclick="OnClickDeleteUser">Conferma</button>
    <button type="button" class="btn btn-link" @onclick="OnClickCancel">Annulla</button>
</div>

@code {
    [Parameter] public string Id { get; set; }
    public EmployeeDeleteDTO model = new EmployeeDeleteDTO();
    protected override async Task OnInitializedAsync() {
        model = await httpClient.GetFromJsonAsync<EmployeeDeleteDTO>($"http://localhost:5032/employee/get/for/delete/{Id}");
    }

    public void OnClickCancel() {
        navManager.NavigateTo("/account-manager");
    }

    public async Task OnClickDeleteUser() {
        await httpClient.DeleteAsync($"http://localhost:5032/employee/delete/{Id}");
        await httpClient.DeleteAsync($"http://localhost:5032/account/delete/user/{model.Email}");
        
        navManager.NavigateTo("/account-manager");
    }
}

