.opt-filter {
    display: inline-block;
    padding: 0 10px;
    margin: 15px;
} 

.opt-filter:hover {
    cursor: pointer;
    color: blue;
}

.selected {
    color: blue;
    text-decoration: underline;
}