@page "/operation-manager/delete/workorder/{Id}"

@using PlannerCRM.Shared.DTOs.Workorder.Views
@using PlannerCRM.Shared.Models

@inject NavigationManager navManager
@inject HttpClient httpClient

@attribute [Authorize(Roles = nameof(Roles.OPERATION_MANAGER))]

<PageTitle>Elimina commessa</PageTitle>

<div>
    <span>Vuoi eliminare:
        <br>  
        <strong>Nome:</strong> @_model.Name 
        <br>
        <strong>Data d'inizio:</strong> @_model.StartDate.ToShortDateString()
        <br>
        <strong>Data fine:</strong> @_model.FinishDate.ToShortDateString() ?
        <br>
    </span>
    <button type="button" class="btn btn-danger" @onclick="OnClickDeleteUser">Conferma</button>
    <button type="button" class="btn btn-link" @onclick="OnClickCancel">Annulla</button>
</div>

@code {
    [Parameter] public string Id { get; set; }
    private WorkOrderDeleteDto _model = new();

    protected override async Task OnInitializedAsync() {
        _model = await httpClient.GetFromJsonAsync<WorkOrderDeleteDto>($"http://localhost:5032/workorder/get/for/delete/{Id}");
    }

    private void RedirectToPage() {
        navManager.NavigateTo("/operation-manager");
    }

    private void OnClickCancel() {
        RedirectToPage();
    }

    private async Task OnClickDeleteUser() {
        await httpClient.DeleteAsync($"http://localhost:5032/workorder/delete/{Id}");
        
        RedirectToPage();
    }
}

