h1 {
    text-align: center;
    font-size: medium;
    border-bottom: 1px groove;
    font-weight: 600;
}

h3 {
    text-align: center;
}

.container-fluid {
    padding: 50px;
    border-radius: 10px;
    border-bottom: 1px;
    border-style: groove;
}

.container {
    display: inline-block;
}

.form-group {
    padding: 10px 0;
}

.btn-cancel, .btn-confirm {
    padding-bottom: 15px;
}

.btn-cancel {
    float: left;
}

.btn-confirm {
    float: right;
}

.child {
    display: inline-block;
}

.dropdown-item {
    border: thin;
    border-style: outset;
}


.container-search-list, .container-selected-employees, .child-searchbox {
    display: inline-block;
}

.container-search-list, .container-selected-employees {
    margin: 0 10px;
}

.container-search-list .child-searchbox {
    position: relative;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: thin outset;
    border-radius: 10px;
}

ul li  {
    width: 100%;
    padding: 5px 10px;
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
}

ul li :hover {
    cursor: pointer;
}
