@page "/operation-manager/delete/activity/{workorderId:int}/{activityId:int}"

@using PlannerCRM.Shared.DTOs.ActivityDto.Views
@using PlannerCRM.Shared.DTOs.Workorder.Views
@using PlannerCRM.Shared.Models

@inject HttpClient httpClient
@inject NavigationManager navManager

@attribute [Authorize(Roles = nameof(Roles.OPERATION_MANAGER))]

<PageTitle>Operation Manager</PageTitle>

<div>
    <h3> Commessa: @_currentWorkorder.Name </h3>
    <br>
    <span>Vuoi eliminare l'attività:
        <br>  
        <strong>Nome:</strong> @_currentActivity.Name 
        <br>
        <strong>Data d'inizio:</strong> @_currentActivity.StartDate.ToShortDateString()
        <br>
        <strong>Data fine:</strong> @_currentActivity.FinishDate.ToShortDateString() ?
        <br>
    </span>
    <button type="button" class="btn btn-danger" @onclick="OnClickDeleteActivity">Conferma</button>
    <button type="button" class="btn btn-link" @onclick="OnClickCancel">Annulla</button>
</div>

@code {
    [Parameter] public int workorderId { get; set; }
    [Parameter] public int activityId { get; set; }
    private WorkorderViewDTO _currentWorkorder = new();
    private ActivityDeleteDTO _currentActivity = new();

    protected override async Task OnInitializedAsync() {
        _currentWorkorder = await httpClient.GetFromJsonAsync<WorkorderViewDTO>($"http://localhost:5032/workorder/get/for/view/{workorderId}");
        _currentActivity = await httpClient.GetFromJsonAsync<ActivityDeleteDTO>($"http://localhost:5032/activity/get/for/delete/{activityId}");
    }

    private void RedirectToPage() {
        navManager.NavigateTo("/operation-manager");
    }


    private void OnClickCancel() {
        RedirectToPage();
    }

    private async Task OnClickDeleteActivity() {
        await httpClient.DeleteAsync($"http://localhost:5032/activity/delete/{activityId}");
        
        RedirectToPage();
    }
}

