@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="navbar">
            <NavLink class="nav-link" href="/">
                <span aria-hidden="true">PlannerCRM</span>
            </NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
