@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="navbar">
            <a class="nav-link" @onclick="NavigateBasedOnRole" title="Homepage">CRM - Gestionale Commesse</a>
            <AuthorizeView >
                <Authorized>
                    <div class="parent">
                        <div class="child">
                            <span class="user-info">Ciao, @context.User.Identity.Name!</span> <br>
                            <span class="user-info">Ruolo: @UserRole</span>
                        </div>
                        <div class="child">
                            <span style="cursor: pointer;" @onclick="OnClickLogout" title="Esci dal tuo account">
                                <span style="color: red;">Esci</span>
                               <i class="bi bi-box-arrow-right" style="color: red;"></i>
                            </span>
                        </div>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="wrapper">
                        <span>Accedi al tuo account!</span>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
