<div class="filters-container">
    <div>
        <InputSelect @bind-Value="@ItemsToDisplay" class="form-select">
            @foreach (var count in Enum.GetValues(typeof(ItemsCount)))
            {
                <option value="@((int) count)" @onclick="@(() => SetDisplayCount((int)count))">@((int)count)</option>
            }
        </InputSelect>
    </div>
</div>

@code {
    [Parameter] public int ItemsToDisplay { get; set; }
    [Parameter] public EventCallback<PaginationHelper> OnDisplayCountSet { get; set; }

    private PaginationHelper _paginationHelper;

    private async Task SetDisplayCount(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out int displayCount))
        {
            Console.WriteLine("Items to display: " + ItemsToDisplay);
            ItemsToDisplay = displayCount;
            _paginationHelper.Limit = ItemsToDisplay;
            _paginationHelper.Offset = 0;
            await OnDisplayCountSet.InvokeAsync(_paginationHelper);

        }
        Console.WriteLine("Items to display 2222: " + ItemsToDisplay);
    }

    private void SetDisplayCount(int count) 
    {
        ItemsToDisplay = count;     
        Console.WriteLine("Items to display 2222: " + ItemsToDisplay);
    }
}
