@page "/account-manager"
@layout MainLayout
 
@using PlannerCRM.Shared.Models 

<PageTitle>CRM - Account Manager</PageTitle>

<div class="parent">
    <button type="button" class="btn btn-primary" title="Aggiungi utente" @onclick="OnClickAddUser">
        <i class="bi bi-person-add"></i>
        Aggiungi utente
    </button>
</div>

<div class="filter-box">
    <OptionsFilter
        Actions=@_actions/>
</div>

<div class="search-box">
    <SearchBox
        GetSearchedItems=@HandleSearchedElements/>
</div>

<GridDataUsers
    Users=@_filteredList/>

@if (_isAddClicked) {
    <ModalAddUser Title=@Titles.ADD_USER/>
} 

@if (_isEditClicked) {
   <ModalEditUser Title=@Titles.EDIT_USER Id="@_userId"/> 
}

@if (_isDeleteClicked) {
    <ModalDeleteUser 
        Id=@_userId
        Title=@Titles.DELETE_USER
        ConfirmationMessage=@Titles.CONFIRM_RESTORE_USER/>
}

@if (_isRestoreClicked) {
    <ModalRestoreUser 
        Id=@_userId
        Title=@Titles.RESTORE_USER
        Message=@Titles.CONFIRM_RESTORE_USER/>
}

<Paginator
    CollectionSize="@_collectionSize"
    Paginate="@((args) => HandlePaginate(args.Item1, args.Item2))"/>