@page "/account-manager"
@layout MainLayout
 
@using PlannerCRM.Shared.Models 

<PageTitle>CRM - Account Manager</PageTitle>

<div class="parent">
    <button type="button" class="btn btn-primary" title="Aggiungi utente" @onclick="OnClickAddUser">
        <i class="bi bi-person-add"></i>
        Aggiungi utente
    </button>
</div>

<div class="filter-box">
    <OptionsFilter
        Actions=@_actions/>
</div>

@if (_filteredList.Any()) {
    <div class="search-box">
        <SearchBox
            GetSearchedItems=@HandleSearchedElements/>
    </div>
}

<GridDataUsers
    Users=@_filteredList/>

@if (_isAddClicked) {
    <ModalAddUser Title=@Titles.ADD_USER/>
}

@if (_filteredList.Any()) {
    <Paginator
        CollectionSize=@_collectionSize
        Paginate="@((args) => HandlePaginate(args.Item1, args.Item2))"/>
}