<div class="text-center">
    <div class="pagination">
        <div class="page-item">
            <div class="page-link previous" @onclick=@Previous>
                <span>&laquo;</span>
                <span>Precedente</span>
            </div>
        </div>
        @foreach (var item in _pages) {
            <div class="page-item">
                <div class="page-link @(SetClass(item.PageNumber))">@item.PageNumber</div>
            </div>
        }
        <div class="page-item">
            <div class="page-link next" @onclick=@Next>
                <span>Prossimo</span>
                <span>&raquo;</span>
            </div>
        </div>
    </div>
</div>