<div class="text-center">
    <div class="pagination">
        <div class="page-item">
            <div class="page-link active" @onclick=@Previous>
                <span>&laquo;</span>
                <span>Precedente</span>
            </div>
        </div>
        @foreach (var pageNumber in _pages) {
            <div class="page-item">
                <div class="page-link @SetClass(pageNumber)">@pageNumber</div>
            </div>
        }
        <div class="page-item">
            <div class="page-link active" @onclick=@Next>
                <span>Prossimo</span>
                <span>&raquo;</span>
            </div>
        </div>
    </div>
</div>